@model IEnumerable<BuoiToi.Models.Todo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Todo item in ViewBag.Todos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                    <a class="btn btn-outline-info" href="/Todo/Status/@item.Id">@Html.DisplayFor(modelItem => item.Status)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    <a class="btn btn-primary"  href="/Todo/Edit/@item.Id">Edit</a> |
                    <a class="btn btn-secondary" onclick="onDelete(@item.Id, '@item.Title')" href="#">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function onDelete(id, title) {
        Swal.fire({
            title: `Do you want to delete ${title}?`,
            showCancelButton: true,
            confirmButtonText: 'Save',
        }).then(result =>{
            if (result.isConfirmed) {
                window.location = '/Todo/Delete/' + id
            }
        })
        
    }
</script>